{{ define "main" }}
{{- .Render "list_featured"}}
<section class="tc-popular-posts-blog">
	<div class="container">
		<div class="content-widgets pt-50 pb-50">
			<div class="row">
				<div class="col-lg-9">
					<div class="tc-post-list-style3">
						<div class="items">
						{{- range $index, $element := .Paginator.Pages }}
						{{- partial "summary.html" (dict "context" $element "index" $index "pagesize" $.Paginator.PageSize) }}
						{{- end }}
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					{{ partial "ad-banner1.html" . }}
				</div>
			</div>
		</div>
	</div>
</section>
{{ partial "pagination.html" . }}
{{ end }}