<!-- ====== start banner1 ====== -->
<section class="banner1">
    <div class="container">
        <div class="content pt-50 pb-50 border-bottom border-1 brd-gray">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5733732343388471"
                        crossorigin="anonymous"></script>
                    <!-- banner1 -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5733732343388471" data-ad-slot="1343448476"
                        data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== end banner1 ====== -->