<section class="banner2">
    <div style="display:none;">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5733732343388471"
            crossorigin="anonymous"></script>
        <!-- article list -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5733732343388471"
            data-ad-slot="7717285130" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</section>