		{{ partial "footer_links.html" . }}

<!-- ====== start footer ====== -->
<footer class="footer-style1">
	<div class="container">
		<div class="tc-subscribe-style1">
			<div class="row justify-content-between align-items-center">
				<div class="col-lg-4">
					<div class="sub-info">
						<h5>{{ .Site.FooterBlurb }}</h5>
					</div>
				</div>
				<div class="col-lg-6">					
				</div>
			</div>
		</div>

		<div class="content">
			<div class="row gx-lg-5">
				<div class="col-lg-4">
					<div class="info">
						<div class="foot-logo">
							<img src="assets/img/logo_home1.png" alt="" class="dark-none">
							<img src="assets/img/logo_home1_lt.png" alt="" class="light-none">
						</div>
						<div class="data-info">
							
						</div>

						<div class="social-links">
							<a href="#">
								<i class="la la-twitter"></i>
							</a>
							<a href="#">
								<i class="la la-facebook-f"></i>
							</a>
							<a href="#">
								<i class="la la-instagram"></i>
							</a>
							<a href="#">
								<i class="la la-youtube"></i>
							</a>
							<a href="#">
								<i class="la la-spotify"></i>
							</a>
						</div>
					</div>
				</div>
				{{ partial "footer_links.html"}}
			</div>
		</div>
		<div class="foot text-center py-4 border-1 border-top brd-gray">
			<p class="fsz-13px color-666">&copy; {{ now.Format "2006" }} <a href="#" class="color-000">XYZ Consulting LLC</a>.</p>
			<p>{{ T "footer_disclaimer" | safeHTML }}</p>
		</div>
	</div>
	<!-- ====== start to top button ====== -->
	<a href="#" class="to_top">
		<i class="la la-angle-up"></i>
	</a>
	<!-- ====== end to top button ====== -->
</footer>
<!-- ====== end footer ====== -->