<!-- ====== start Latest news ====== -->
<section class="tc-latest-news-style1">
    <div class="container">
        <div class="section-content pt-50 pb-50 border-bottom border-1 brd-gray">
            <p class="color-000 text-uppercase mb-30 ltspc-1"> <a href="page-blog.html"> latest news </a> <i
                    class="la la-angle-right ms-1"></i>
            </p>
            <div class="row">
                <div class="col-lg-5 border-end brd-gray border-1">
                    <div class="tc-post-grid-default">
                        {{- range $idx, $page := first 1 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections).ByDate.Reverse }}
                        <div class="item">
                            <div class="img img-cover th-330">
                                {{ partial "post_thumbnail.html" (dict "class" "post" "width" 470 "height" 329 "page" .) }}                                
                            </div>
                            <div class="content pt-30">
                                <a href="page-blog.html"
                                    class="news-cat color-999 fsz-13px text-uppercase mb-10">{{ .Params.Category }}</a>
                                <h2 class="title mb-20">
                                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                </h2>
                                <div class="text color-666">{{ .Summary }}
                                </div>
                                <div class="meta-bot lh-1 mt-40">
                                    <ul class="d-flex">
                                        <li class="date me-5">
                                            <a href="#"><i class="la la-calendar me-2"></i> {{ .Params.Date.Format "Monday, January 2, 2006" }} </a>
                                        </li>
                                        <li class="author me-5">
                                            <a href="#"><i class="la la-user me-2"></i> {{ .Params.Source }} </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {{- end }}
                    </div>
                </div>
                <div class="col-lg-7 border-end brd-gray border-1">
                    <div class="tc-post-list-style2">
                        <div class="items">
                            {{- range $idx, $page := first 7 (after 1 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections).ByDate.Reverse) }}
                            <div class="item">
                                <div class="row gx-3 align-items-center">
                                    <div class="col-lg-4 col-md-2">
                                        <div class="img th-70 img-cover">
                                            {{ partial "post_thumbnail.html" (dict "class" "post" "width" 100 "height" 70 "page" .) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-10">
                                        <div class="content">
                                            <div class="news-cat color-999 fsz-13px text-uppercase mb-1">
                                                {{ $page.Params.Category }}
                                            </div>
                                            <h5 class="title ltspc--1">
                                                <a href="{{ .RelPermalink }}"
                                                    class="hover-underline">{{ .Title }}</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{- end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== end Latest news ====== -->