{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}
{{- $logoImage := .Site.Params.logo.image -}}

{{- if or $logoTitle $logoImage }}
{{/* Defined when logo is mixed (image + text) */}}
{{- $logoMix := and $logoImage $logoTitle -}}
<div class="top-navbar style-1">
	<div class="container p-0">
		<div class="row align-items-center">
			<div class="col-md-2">
			</div>
			<div class="col-md-10">
				<a href="{{ "" | relLangURL }}" {{ with $logoTitle }} title="{{ . }}" {{ end }} rel="home"
					class="logo-brand">
					{{ with $logoTitle -}}
					{{ . }}
					{{- end}}
				</a>
				{{ with $logoSubtitle }}<span class="brand-tagline">{{ . }}</span>{{ end }}
			</div>
		</div>
	</div>
</div>
{{- end }}