{{- if .Site.Menus.main }}
<nav class="navbar navbar-expand-lg navbar-light style-1">
	<div class="container p-0">
		<div class="mob-nav-toggles d-flex align-items-center justify-content-between">
			<button class="navbarList-icon me-lg-5" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
				aria-controls="offcanvasExample">
				<span></span>
				<span></span>
			</button>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{{- $currentNode := . }}
				{{ range .Site.Params.subSections }}
				{{- with $.Site.GetPage (printf "/categories/%s" .) }}
				{{- if . }}
				<li class="nav-item">
					<a class="nav-link" href="{{ .RelPermalink }}">
						{{ .Title }}
					</a>
				</li>
				{{- end }}
				{{- end }}
				{{- end }}
				{{- range .Site.Menus.main }}
				{{- if .Name }}
				<li class="nav-item">
					<a class="nav-link" href="{{ .URL }}">
						{{ .Name }}
					</a>
				</li>
				{{- end }}
				{{- end }}
			</ul>
			<div class="nav-side">
				<a href="#" class="icon-link search-btn-style1">
					<i class="la la-search fs-4 sOpen-btn"></i>
					<i class="la la-close fs-4 sClose-btn"></i>
				</a>
			</div>
		</div>
	</div>
</nav>
{{ else -}}
<div class="divider"></div>
{{- end }}