{{- if .Param "pager" }}
{{- if or (.PrevInSection) (.NextInSection) }}
<!-- ====== start next prev post slider ====== -->
<section class="tc-next-prev-post mb-60">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="tc-next-prev-post-slider">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							{{- if .PrevInSection }}
							<div class="swiper-slide">
								<a href="{{ .PrevInSection.RelPermalink }}" rel="prev" class="item">
									<p class="color-666 fsz-12px text-uppercase">{{ T "post_nav_prev" }}</p>
									<h6 class="title">{{ .PrevInSection.Title }}</h6>
								</a>
							</div>
							{{- end }}
							{{- if .NextInSection }}
							<div class="swiper-slide">
								<a href="{{ .NextInSection.RelPermalink }}" rel="next" class="item">
									<p class="color-666 fsz-12px text-uppercase">{{ T "post_nav_next" }}</p>
									<h6 class="title">{{ .NextInSection.Title }}</h6>
								</a>
							</div>
							{{- end }}
						</div>
					</div>
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ====== end next prev post slider ====== -->
{{- end }}
{{- end }}