{{- if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div class="pagination style-1 color-main justify-content-center mt-60">
	{{- $pageMin := 1}}
	{{- $pageMax := .Paginator.Pages}}

	{{- if .Paginator.HasPrev }}
		{{- $pageMin = sub .Paginator.PageNumber 2 }}
	{{- end }}
	{{- if .Paginator.HasNext }}
		{{- $pageMax = add .Paginator.PageNumber 2 }}
	{{- end }}

	{{- if .Paginator.HasPrev }}
		<a href="#">
			<span class="text text-uppercase"><i class="la la-angle-left"></i> prev</span>
		</a>
	{{- end }}
	{{- if gt $pageMin 1 }}
		<a href="{{ $.Paginator.URL 1}}">
			<span>{{ . }}</span>
		</a>
		<a href="#">
			<span>...</span>
		</a>
	{{- end }}	
	{{- range seq $pageMin $pageMax }}
		{{- if eq . $.Paginator.PageNumber }}
			<a href="#" class="active">
				<span>{{ . }}</span>
			</a>
		{{- else }}
			<a href="{{ $.Paginator.URL (print .)}}">
				<span>{{ . }}</span>
			</a>
		{{- end }}
	{{- end }}
	{{- if lt $pageMax .Paginator.TotalPages }}
		<a href="#">
			<span>...</span>
		</a>
		<a href="{{ $.Paginator.URL $.Paginator.TotalPages}}">
			<span>{{ .Paginator.TotalPages }}</span>
		</a>
	{{- end }}
	{{- if .Paginator.HasNext }}
	<a href="#">
		<span class="text text-uppercase">next <i class="la la-angle-right"></i> </span>
	</a>
	{{- end }}
</div>
{{- end }}