{{- if $thumbnail := .page.Params.thumbnail }}
	{{- $class := .class }}
	{{- $width := .width | default 1024 }}
	{{- $height := .height | default 768 }}
	{{- $visibility := .Site.Params.thumbnail.visibility | default (slice "list" "post") }}

	{{- $valueType := printf "%T" $thumbnail -}}
	{{- $isMap := in $valueType "map" -}}
	{{- if $isMap }}
		{{ $visibility = default (slice "list" "post") (default .page.Site.Params.thumbnail.visibility $thumbnail.visibility) }}
		{{ $thumbnail = $thumbnail.src }}
	{{- end }}

	{{- if in $visibility $class }}
		{{ $image := resources.Get $thumbnail }}
		{{ with $image }}
			{{ $image := $image.Fill (printf "%dx%d" $width $height) }}		
			<img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
		{{ end }}
	{{- end }}
{{- end }}

