{{- if $thumbnail := .page.Params.thumbnail }}
	{{- $class := .class }}
	{{- $width := .width | default 1024 }}
	{{- $height := .height | default 768 }}
	{{- $title := .title | default .page.Title }}
	{{- $visibility := .Site.Params.thumbnail.visibility | default (slice "list" "post") }}

	{{- $valueType := printf "%T" $thumbnail -}}
	{{- $isMap := in $valueType "map" -}}
	{{- if $isMap }}
		{{ $visibility = default (slice "list" "post") (default .page.Site.Params.thumbnail.visibility $thumbnail.visibility) }}
		{{ $thumbnail = $thumbnail.src }}
	{{- end }}

	{{- if in $visibility $class }}
		{{- $thumbPath := replace $thumbnail "./" "" -}}
		{{- $image := resources.Get $thumbPath }}
		{{- if $image }}
			{{- $image = $image.Fill (printf "%dx%d" $width $height) -}}					
			<img data-src="{{ $image.RelPermalink }}" class="lazyload" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{$title}}">
		{{- else }}
			<img data-src="{{ $thumbPath | relURL }}" class="lazyload" width="{{ $width }}" height="{{ $height }}" alt="{{$title}}">
		{{- end }}
	{{- end }}
{{- end }}

